<nav class="navbar navbar-expand-lg ">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <img src="assets/app.png" title="task icons" width="30" height="30" class="d-inline-block align-top" alt="">
            Task Manager
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation"
            (click)="isCollapsed = !isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="users">User</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="tasks">Tasks</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="projects">Projects</a>
                </li>
            </ul>
        </div>
    </div>
</nav>